body {
  font-family: 'Open Sans', sans-serif;
  s
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

article {
  width: auto;
  height: auto;
  border-bottom: 1px solid slategrey;
  box-shadow: 5px rgba(0,0,0,0.2);
  text-align: center;
}

/* DIV, Containers and Articles */

div.container {
  display: flex;
  width: 95vw;
  z-index: 0;
  overflow: hidden;
  padding: 1px;
}
div.container_main {
  display: flex;
  flex-direction: column;
  margin: 5px;
  z-index: 0;
  overflow: hidden;
  padding: 1px;
  text-align: ;
  width: 80%;
}
div.left {
  width:15vw;
  height: 100vh;
  overflow: visible;
  float: left;
  z-index: 10;
}
div.right {
  width: 85vw;
  overflow: hidden;
  display: flex;
  margin: ;
  z-index: 1;

}
div.title {
  margin-top: 20px;
  padding: 0%;
}

div.footer {
  height: auto;
  border-top: 1px solid grey;
  background-color: black;
  display: flex;
}

/* Article Divs */
div.article1 {
  width: 100%;
  height: 20%;
  order: 1;
  float: right;
}
div.article2 {
  width: 80%;
  height: 20%;
  order: 2;
}
div.article3 {
  width: 80%;
  height: 20%;
  order: 3;
}
div.article4 {
  width: 80%;
  height: 20%;
  order: 4;
}

div.article_wrapper {
  display: flex;
  flex-direction: row;
}

div.img {
  width: ;
  justify-content: center;
  margin: 15px;

  float:left;
  display: inline-block;
  vertical-align: middle;
}

/* Font Formatting */

h1 {
  font-family: 'Open Sans', sans-serif;
  color: whitesmoke;
  font-size: 7vh;
  font-weight: bolder;
  margin-left: auto;
  margin-bottom: 5%;
  letter-spacing: 2px;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  color: mediumspringgreen;
  font-size: 3vh;
  padding-left: ;
  font-weight: bolder;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: whitesmoke;
  font-size: 2.5vh;
  padding-left: ;
  font-weight: bold;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  letter-spacing: 2px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  color: whitesmoke;
  font-size: 2vh;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

p.heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  color: black;
  margin-left: 5%;
  text-align: left;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 900;
}

p.subheading {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vw;
  color: black;
  font-weight: bold;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  text-justify: inter-word;
  letter-spacing: 2px;
}
p.body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  line-height: 1.6;
  letter-spacing: 2px;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  justify-content: space-around;
}

/* IMG Formatting */
img.logo {
  max-width: 90%;
}

img.article {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 100% 0;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  float: left;
  justify-content:
  display:inline-block;
  vertical-align: middle;
}

img.centre {
  width: 80%;
  display: block;
  padding: 30px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: mediumspringgreen;
}
