body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  background-color: slategray;
  background-image: url(images/wickedbackground-3.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

article {
  width: auto;
  height: auto;
  border-bottom: 1px solid slategrey;
  box-shadow: 5px rgba(0,0,0,0.2);
  text-align: center;
}

/* DIV, Containers and Articles */

div.container {
  display: flex;
  width:inherit;
  z-index: 0;
  overflow: hidden;
  padding: 1px;
}
div.container_main {
  display: flex;
  flex-direction: column;
  margin: 5px;
  z-index: 0;
  overflow: hidden;
  padding: 1px;
  text-align: ;
  width: 80%;
}
div.left {
  width:15vw;
  height: 100vh;
  overflow: visible;
  float: left;
  z-index: 10;
}
div.right {
  width: 85vw;
  overflow: hidden;
  display: flex;
  margin: ;
  z-index: 1;

}
div.title {
  margin-top: 20px;
  padding: 0%;
}

div.footer {
  height: auto;
  border-top: 1px solid grey;
  background-color: black;
  display: flex;
}

/* Article Divs */
div.article1 {
  width: 100%;
  height: 20%;
  order: 1;
  float: right;
}
div.article2 {
  width: 80%;
  height: 20%;
  order: 2;
}
div.article3 {
  width: 80%;
  height: 20%;
  order: 3;
}
div.article4 {
  width: 80%;
  height: 20%;
  order: 4;
}

div.article_wrapper {
  display: flex;
  flex-direction: row;
}

div.img {
  width: ;
  justify-content: center;
  margin: 15px;

  float:left;
  display: inline-block;
  vertical-align: middle;
}


/* Back to top start */
.back-to-top {
  background-color: mediumspringgreen;
  color: white;
  opacity: 0;
  transition: opacity .6s ease-in-out;
  z-index: 999;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 0;
}

a.back-to-top {
  font-weight: 1000;
  letter-spacing: 2px;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  line-height: 1.6;
  padding-left: 2px;
  padding-top: 14px;
}

.back-to-top:hover, .back-to-top:focus, .back-to-top:visited {
  color: slategray;
}

.back-to-top.show {
  opacity: 1;
}
/* Back to top end */

/* navigation */
.navbar {
  overflow: visible;
  flex-direction: column;
  box-shadow: 5px rgba(0,0,0,0.2);
  z-index: 10;
  text-align: left;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
  min-width: 200px;

}

.navbar a {
  text-align: center;
  float: left;
  font-size: 1.5vw;
  color: white;
  text-align: left;
  justify-content: center;
  padding: 14px 16px;
  text-decoration: none;
  box-shadow: 5px rgba(0,0,0,0.2);
  min-width: 200px;
  z-index: 10;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.5vw;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
.dropbtn {
  color: black;
}
.navbar a:hover, .dropdown:hover {
  background-color:;
  color: mediumspringgreen;
}

.dropdown-content {
  display: none;
  position: ;
  color: slategrey;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 10px rgba(0,0,0,0.2);
  z-index: 11;
}

.dropdown-content a {
  float: none;
  color: slategrey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: ;
  color: mediumspringgreen;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Font Formatting */

h1 {
  font-family: 'Open Sans', sans-serif;
  color: whitesmoke;
  font-size: 7vh;
  padding-left: ;
  font-weight: bolder;
  margin-left: auto;
  margin-bottom: 5%;
  letter-spacing: 2px;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  color: mediumspringgreen;
  font-size: 3vh;
  padding-left: ;
  font-weight: bolder;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: whitesmoke;
  font-size: 2.5vh;
  padding-left: ;
  font-weight: bold;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  letter-spacing: 2px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  color: whitesmoke;
  font-size: 2vh;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

p.heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  color: black;
  margin-left: 5%;
  text-align: left;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 900;
}

p.subheading {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vw;
  color: black;
  font-weight: bold;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  text-justify: inter-word;
  letter-spacing: 2px;
}
p.body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  line-height: 1.6;
  letter-spacing: 2px;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  justify-content: space-around;
}

/* IMG Formatting */
img.logo {
  max-width: 90%;
}

img.article {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 100% 0;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  float: left;
  justify-content:
  display:inline-block;
  vertical-align: middle;
}

img.centre {
  width: 80%;
  display: block;
  padding: 30px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: mediumspringgreen;
}

ul {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 1em;
  line-height: 2;
  letter-spacing: 2px;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}
